<h1>Login</h1>     <!--Heading-->
<form method="POST" action="/login">     <!--Login form for POST request to /login route-->

  <label for="email">Email:</label>      <!--Input field for user email-->
  <input type="email" id="email" name="email" required>   <!--Ensures field cannot be empty-->

  <label for="password">Password:</label>      <!--Input field for user password-->
  <input type="password" id="password" name="password" required>    <!--input type="password" to hide password characters-->

  <button type="submit">Login</button>   <!--Button for submitting login form-->
</form>